/* E26A2C orange*/
/* FF2442 red  */
/* 001E6C */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.mynav,
.offcanvas-body {
  background-color: #fd841f;
}
.nav-link {
  color: #f9f2ed;
}
.navbar-brand {
  color: #161e54;
  font-size: 2rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: italic;
}

.username > h3 {
  padding: 0 6%;
}

.username {
  background-color: #fd841f;
  padding: 20% 0% 0% 0%;
  color: #161e54;
  border-radius: 0 0 5px 5px;
}

.carousel-sec {
  background-color: #f9f2ed;
}
.carousel-inner {
  border-radius: 15px;
}

hr {
  width: 20%;
  margin: 30px auto;
  border: 10px dotted #ff2442;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

/* --------article-feed-header----- */
.article-feed-header {
  width: 100%;
  padding: 5% auto;
  background-color: #f87474;
}
.pro-head {
  display: flex;
  padding: 12px 0;
}

.product-head {
  color: #f9f2ed;
}
.product-line {
  width: 18%;
  margin: 10px auto;
  border: 5px solid #ff2442;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.product-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product {
  border-radius: 10px 10px 10px 20px;
  background-color: #f9f2ed;
  width: 300px;
  margin: 20px auto;
}

/* ------sale section----- */
.sales-sec {
  background-color: #f87474;
}
.sales-sec .card {
  background-color: #f87474;
  color: #161e54;
  border: none;
}
.sale-img img {
  width: 100%;
  margin: auto;
}

/* --------footer----- */
.ficons {
  text-align: center;
  color: #161e54;
}
.ficons:hover,
.active {
  color: #ff2442;
}
.fix-footer {
  position: fixed;
  bottom: 0;
  padding: 12px 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: #f9f2ed;
}

.linked {
  text-decoration: none;
  color: #161e54;
}
